<!-- Inherit from "head" --!>
<?php $this->loadView('head', ['title' => $title]); ?>

<h1> <?= $title; ?> </h1>
<a href="/new-task"><button>Add a new task</button></a>

<hr>

<?php if (empty($taskList)):  ?>
  <span> Your task list is empty. </span>
<?php else:  ?>
  <table>
      <?php foreach ($taskList as $task): ?>
        <tr> 
            <th><?= $task->getName(); ?></th>
            <th><?= $task->getDate()->format('H:i - d/m/Y'); ?></th>
            <th>
                <a href="/edit?id=<?= $task->getId(); ?>">
                    <button>Edit</button>
                </a>
                <a href="/delete?id=<?= $task->getId(); ?>">
                    <button>Delete</button>
                </a>
            </th>
        </tr>
      <?php endforeach; ?>
  </table>
<?php endif; ?>
